.cell {
    width: 16px;
    height: 16px;
    font-size: small;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

.noBorder {
    border: none;
}

.number {
    background-color: lightgray;
}

.pixel {
    cursor: pointer;
}

.fill {
    background-color: black;
}

.crossout {
    background-color: red;
}